body {
	font-family: Arial, sans-serif;
	background-color: #cecece;
}

a {
	color: #00bd00;
}

* {
	box-sizing: border-box;
}

#form{
	padding-top: 60px;
}

.register {
	width: 500px;
	padding: 16px;
	margin: 0 auto;
	background-color: white;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.submit {
	background-color: #0900bd;
	color: white;
	padding: 15px 18px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.submit:hover {
	opacity: 1;
}
.login {
	background-color: #ffffff;
	text-align: center;
}