body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
	background-color: purple;
  	background-image: linear-gradient(to bottom right, purple, pink);
}

a{
	text-decoration: none;
}

#menu_top{
	background-color: green;
  	background-image: linear-gradient(to bottom right, green, white);
	height: 40px;
}

#banner{
	height: auto;
	width: 1000px;	
}

#main #left{
	width: 700px;
	float: left;
	min-height: 400px;
}

#main #right{
	width: 300px;
	background: powderblue;
	float: left;
	min-height: 400px;
}

#footer{
	background-color: #cccccc;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: #BBBBBB;
	clear: left;
	line-height: 60px;
}

#menu_top ul{
	margin: 0px;
	padding: 0px;
}

#menu_top ul li{
	list-style: none;
	float: left;
}

#menu_top ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0px 30px 0px 30px;
	border-right: 3px  #00FF00;
}

#menu_top ul li a.active{
	background: #FF9966;
}

#banner img{
	width: 1000px;
}

#main #left ul {
	margin: 0px;
	padding: 0px;
}

#main #left ul li {
	list-style: none;
	float: left;
	clear: left;
	padding: 2px;
	border-bottom: 2px solid ghostwhite;
	margin-bottom: 20px;
}	

#main #left ul li img {
	float: left;
	margin: 10px;
}

#main #right .menu_right ul{
	margin: 0px;
	padding: 0px;
	border: 1px solid #cccccc;
}

#main #right .menu_right ul li{
	list-style: none;

}

#main #right .menu_right ul li a{
	text-decoration: none;
	display: block;
	line-height: 32px;
	padding-left: 10px;
	border-bottom: 2px solid #33CC66;
	font-size: 14px;
}

#main #right .menu_right ul li a:hover{
	color: orange; 
}

#main #right .menu_right h3{
	background: #6699CC;
	height: 40px;
	margin-top: 0px;
	text-align: center;
	font-size: 15;
	line-height: 40px;
	color: white;
	
}
.one a{
	color: black;
}
.one a:hover{
	color: red;
}

 .nav>li{
   float: left;
   margin-right: 15px;
 }
 
 .nav>li>a{
   text-transform: uppercase;
   color: red;
   text-decoration: none;
 }
 
 .nav li{
   position: relative;
   list-style:none;
 }
 
 .nav li a{
   padding: 10px;
   line-height: 20px;
   display: inline-block;
   text-decoration: none;
 }
 
 .nav .sub-menu{
   display: none;
   position: absolute;
   top: 0;
   left: 100%;
   width: 200px;
   background-color: green;
   background-image: linear-gradient(to bottom right, green, blue);
   padding: 5px 20px;
 }
 
 .nav li:hover>.sub-menu{
   display: block;
 }
 
 .nav>li>.sub-menu{
   top: 40px;
   left: 0;
 }

#menu_top ul li:hover{
	background: #FFCCCC;
}