#noi_dung{
	width: 1100px;
	height: 600px;
	background: #F78681;
	margin: 0px 100px;
}
/*cap 1*/
	.main_menu {
	    background: #76CEF5;
	    margin-top: 30px;
	}
	input{
		padding: 14px;
		float: right;
		background-color: red;
		background: url(search.png) no-repeat;
		background-size: 40px;
		background-position: right;
	}
	#tk{
		background-color: #2EA8B0;
		color: brown;
		font-weight: bold;
		font-style: italic;
		border-right: none;
		border-bottom: none;
		height: 20px;
	}
	.clear{
		clear: both;
	}
	.main_menu ul li:hover{
		background: #848484;
	}
	.main_menu >ul>li{
		list-style: none;
		float: left;
		padding: 15px 30px;
		position: relative;
		border-right: 1px inset white;
	}
	.main_menu >ul>li:last-child{
		border-right: none;
		padding: 15px 50px;
	}
	.main_menu ul li a{
		text-decoration: none;
		font-weight: bold;
		color: #9C8F8F;
		font-size: 18px;
	}
/*cap2*/
	.main_menu ul li ul{
		display: none;
		position: absolute;
		background: #F6CEF5;
		top: 50px;
		left: 0px;
		width: 160px;
	}
	.main_menu ul li:hover >ul{
		display: block;
	}
	.main_menu ul li ul li{
		list-style: none;
		position: relative;
	}
	.main_menu ul li ul li a{
		text-decoration: none;
	}
	.main_menu >ul>li>ul>li{
		padding: 5px 10px;
		border-bottom: 1px inset white;
	}
	.main_menu >ul>li>ul>li:first-child{
		border-top: 1px inset white;
	}