#div1{
	background: #E398D0;
	width: 960px;
	min-height: 70px; 
	padding: 5px;
	margin: 30px auto;
}
#div2{
	width: 900px;
	min-height: 70px;
	margin: 0px auto;
	border-width: 2px;
	border-style: solid;
	border-color: red;
}
#banner{
	background: #FFFF00;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
#menu{
	background: #827584;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
}
#divan{
	height: 200px;
}
#left{
	background: #9FC6E4;
	color: white;
	text-transform: capitalize;
	width: 35%;
	height: 100%;
	float: left;
}
#topright{
	background: #CDCB34;
	color: white;
	text-transform: capitalize;
	height: 80%;
}
#bottomright{
	background: #7E1515;
	color: white;
	text-transform: capitalize;
	height: 20%;
}
#footer{
	clear: left;
	background: #83C66F;
	color: white;
	text-transform: capitalize;
	height: 60px;
}