#noidung{
	width: 500px;
	margin: 30px auto;
}
.nd{
	width: 100px;
	text-align: center;
	font-weight: bold;
	margin: 10px;
	float: left;
	height: 100px;
	line-height: 100px;
}
#noidung .nd:nth-child(odd){
	background: #3FA3C8;
	color: white;
}
#noidung .nd:nth-child(even){
	background: #9B6792;
}