.noidung{
	width: 960px;
	margin: 30px auto;
}
#nd1, #nd2, #nd3{
	border-width: 2px;
	border-color: blue;
	border-style: solid;
	min-height: 150px;
	font-size: 20px;
	font-weight: bold;
	margin: 10px auto;
}
#nd1{
	background: #ECCEF5;
	width: 50%;
	float: left;
}
#nd2{
	background: #F7BE81;
	width: 40%;
	float: left;
}
#nd3{
	float: left;
}