div{
	text-align: center;
}

.noi-dung{
	width: 1200px;
	min-height: 100px;
	border: 3px solid #E5183F;
}

#nd p{
	text-decoration: underline;
}

div > p {
	font-size: 40px;
	font-weight: bold;
}
div + p {
	color: blue;
	background-color: yellow;
	font-size: 30px;
}

p::after{
	content: "Lưu ý";
	background-color: yellow;
	color: red;
	font-weight: bold;
}

p:first-child{
	color: green;
}

a:link {
	color: black;
	background: blue;
	text-decoration: none;
}

a:visited {
	color: black;
	background: red;
}

a:hover {
	color: red;
	background: yellow;
}

/*a:active {
	color: yellow;
	background: black;
}*/
#div {
	background-color: #9DB5D1; border-width: 2px;border-style: solid; margin: 0 5px;
}
div#div:active{
	background-color: green;
}

#p1 {
	border: 10px dotted green;
}

#p2 {
	border-top-style: dotted;
	border-color: green;
	border-width: 10px;
}

#p3 {
	border-style: groove;
	border-color: green;
	border-width: 10px;
}

#p4 {
	border-style: ridge;
	border-color: green;
	border-width: 10px;
}

#p5 {
	border-style: inset;
	border-color: green;
	border-width: 10px;
}

#p6 {
	border-style: outset;
	border-color: green;
	border-width: 10px;
}

#p7 {
	border-style: solid;
	border-color: green;
	border-width: 10px;
}

#p8 {
	margin: 10px 20px 30px 40px;
	width: 500px;
	padding: 300px;
	min-height: 20px;

	border-radius: 64px;
	border-style: solid;
	border-top-color: red;
	border-left-color: yellow;
	border-right-color: green;
	border-bottom-color: blue;
	border-width: 10px;
}