 #main
 {
   background: #fff;
   height: 1300px;
 } 
  #main .name
 {
   background: #fff;
   height: 50px;
   width:20%;
   font-size:30px;
   margin-left:40%;
   margin-top:3%;
   text-align:center;
   line-height:50px;
 }
  #main .name > p
 {
   color:#282828;
 }
  #main .list
 {
   background: #fff;
   height: 300px;
   width:19%;
   margin-top:5%;
   margin-left:12%;
   float:left;
 }  
  #main .list ul
 {
   margin:0px;
   padding:0px;
   
 }  
  #main .list ul li
 {
   list-style:none;
 }  
  #main .list ul li .price
 {
   color:red;
 }
  #main .list .see_move:hover
 {
   background:pink;
 }
  #main .list img
 {
   height: 300px;
   width:100%;
 }
  #main .show
 {
   background: black;
   height: 30px;
   width:13%;
   font-size:16px;
   margin-left:43%;
   margin-top:35%;
   text-align:center;
   line-height:30px;
 } 
  #main .show a
 {
   text-decoration:none;
   color:white;
   display:block;
 } 
  #main .show a:hover
 {
	 background:pink;
 }
