#main
 {
   background: #fff;
   height: 500px;
 }	
  #main #error
 {
   margin-top:4%;
   margin-left:40%;
   font-size:30px;
   color:#282828;
 }
  #main .list
 {
   background: #fff;
   height: 300px;
   width:19%;
   margin-top:5%;
   margin-left:10%;
   float:left;
 }  
  #main .list ul
 {
   margin:0px;
   padding:0px;
   
 }  
  #main .list ul li
 {
   list-style:none;
 }  
  #main .list ul li .price
 {
   color:red;
 }
  #main .list .see_move:hover
 {
   background:pink;
 }
  #main .list img
 {
   height: 300px;
   width:100%;
 }